.header_row{
    display: grid;
    grid-gap: 15px;
    padding: 25px 70px;
    background: #D4DBF1;
    border-radius: 10px 10px 0px 0px;
}
.tableCell{
    text-transform: uppercase;
    font-size: 14px;
    color: #808AAB;
    font-weight: 700;
}