.select_wrapper select{
    height: 40px;
    background: #D4DBF1;
    border: 1px solid #A2B2E2;
    border-radius: 10px;
    padding: 0 30px 0 15px;  
    cursor: pointer;
    appearance: none;
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}
.select_wrapper select:focus{
    outline: 1px solid var(--main_color);
}
.select_wrapper .select{
    position: relative;
}   
.select_wrapper .select_arrow{
    position: absolute;
    top: 52%;
    right: 10px;
    transform: translate(0, -50%);
    width: 15px;
    height: 10px;
    transition: .2s all ease;
    pointer-events: none;
}
.select_wrapper label{
    color: #808AAB;
    font-size: 14px;
}
.select_wrapper label:empty{
    display: none;
}
.select_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.select_wrapper.labelTop{
    flex-direction: column;
    align-items: flex-start;
}
.select.small{
    width: 130px;
}
.select.regular{
    width: 180px;
}
.select.large{
    width: 100%;
}