.title_container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.section_table{
    margin-top: 45px;
}
.section_filter{
    margin-top: 30px;
}
.station_table .header_row{
    grid-template-columns:  repeat(8, 1fr) 0.4fr;
}
.project_table .header_row{
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
}
@media(max-width: 767px){
    .title_container{
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .section_filter{
        margin-top: 20px;
    }
}