.modal_window{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .7s;
}
.modal_window .modal_flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: auto;
    position: relative;
}
.modal_window .modal_inner{
    width: 800px;
    min-height: 100vh;
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px -30px 50px rgb(43 3 64 / 16%);
    position: relative;
    border-radius: 10px 0 0 10px;
}
.modal_window .modal_title{
    font-size: 24px;
    text-align: center;
    margin: 0 0 15px;
}
.modal_window .modal_subtitle{
    color: #001133;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.modal_window .flex_field{
    display: flex;
    gap: 25px 15px;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 1px solid  #D4DBF1;
}
.modal_window .flex_field > div{
    width: calc(50% - 8px);
}
.modal_window .new_user_projects{
    padding: 20px 0;    
}
.modal_window .user_projects_wrap{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal_window .main_button{
    margin: auto;
}