.table .table_header_wrap{
    background: #D4DBF1;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 70px;
    overflow: hidden;
}
.table .table_header{
    display: flex;
    align-items: center;
}
.table .table_header .cell{
    text-transform: uppercase;
    color: #808AAB;
    font-weight: 700;
}
.table_header .cell:not(:first-child){
    width: 22%;
}
.table_header  .cell:first-child{
    width: 34%;
}
.row_wrapper{    
    background: #FFFFFF;
    border: 1px solid #D4DBF1;
    border-top: none;
    border-radius: 0 0px 10px 10px;
    overflow: hidden;
}
