.table .table_header_wrap{
    background: #D4DBF1;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 70px;
    overflow: hidden;
}
.table .table_header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table .table_header .cell{
    text-transform: uppercase;
    color: #808AAB;
    font-weight: 700;
}
.table .table_header .cell:not(:first-child){
    width: 22%;
}
.table .table_header  .cell:first-child{
    width: 34%;
}
.table .row_wrapper{    
    background: #FFFFFF;   
}
.table .table_bottom{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table .table_bottom p{
    color: #808AAB;
    font-size: 14px;
}
.table .table-wrapper{
    overflow: auto;
    border: 1px solid #D4DBF1;
    border-radius: 10px;
}
.table_inner_wrap{
    min-width: 900px;
}

@media(max-width: 767px){
    .table .table_header_wrap{
        padding: 15px 50px;
    }
    .table .table_header{
        gap: 15px;
    }
    .table .table_bottom{
        flex-direction: column-reverse;
        margin-top: 20px;
        gap: 20px;
    }
}