.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.pagination li{
    list-style-type: none;
    min-width: 35px;
    height: 40px;
    background: #D4DBF1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.pagination li:hover{
    background: var(--main_color);
    color: #fff;
}
.pagination li:first-child,
.pagination li:last-child{
    background: none;
}
.pagination li img{
    width: 14px;
    transition: .2s;
}
.pagination .arrow_pag:first-child img{
    transform: rotate(90deg)
}
.pagination .arrow_pag:last-child img{
    transform: rotate(-90deg)
}
.pagination .arrow_pag:hover{
    background: var(--main_color);
}
.pagination .arrow_pag:hover img{
    filter: brightness(0) invert(1);
}